<% provide(:title, 'New Image') %>
<h1>Image Data</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@datum) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :seed %>
      <%= f.number_field :seed , class: 'form-control'%>

      <%= f.label :width %>
      <%= f.number_field :width , class: 'form-control'%>

      <%= f.label :height %>
      <%= f.number_field :height, class: 'form-control' %>

      <%= f.label :river_length %>
      <%= f.number_field :river_length , class: 'form-control'%>

      <%= f.submit "Store Image", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<p>If I needed paragraphs on this page it would mean I failed in its creation. I don't agree with that but I have my biases.
Enjoy your nonsense as my condolences :)<\p>
<p>
Ut sed tristique massa. Nullam in lectus laoreet odio ullamcorper facilisis sodales vitae nibh. Aliquam lacus nibh, ultricies consequat posuere quis, pellentesque ut arcu. Pellentesque sit amet laoreet velit. Etiam vestibulum risus nec nunc fringilla porttitor. Nulla egestas mi quis convallis bibendum. Nullam finibus turpis magna, facilisis tincidunt dui tempor quis. Integer sollicitudin nunc id mauris ultrices commodo. Phasellus ultrices, est et placerat laoreet, dolor sapien euismod leo, vitae tincidunt nunc risus et massa. Donec facilisis tempor neque consectetur scelerisque. Curabitur eleifend quam eget ex faucibus vulputate. Vivamus ac nisl a sem vehicula efficitur. Sed auctor iaculis justo eu posuere. Vivamus in commodo mauris, id fermentum tortor.

Curabitur facilisis, risus eget efficitur luctus, tortor est commodo arcu, id dictum elit nibh ac nisi. Proin quis placerat velit. Duis in felis quis purus pharetra tempor. Nulla sit amet orci ut arcu hendrerit malesuada vitae a massa. Donec id turpis ut mauris cursus varius. Donec lacus tortor, laoreet sit amet sollicitudin a, vehicula eget purus. Praesent magna orci, sollicitudin nec molestie id, placerat id felis. Pellentesque velit lorem, venenatis nec iaculis a, convallis id augue. Vestibulum tristique, massa quis dictum consectetur, elit quam sodales nibh, at aliquet metus sapien a lectus. Morbi laoreet lectus viverra metus aliquet sodales.</p>