<% provide(:title, 'All Generations') %>
<div class="center jumbotron">
<h1>All Data</h1>

<table>
  <thead><th>ID</th><th>Seed</th><th>Width</th><th>Height</th><th>River Length</th></thead>
  <tbody>
    <% @settings.each do |set| %>
    <tr>
      <td><%= set.id %></td>
      <td><%= set.seed %></td>
      <td><%= set.width %></td>
      <td><%= set.height %></td>
      <td><%= set.river_length %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
